@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* * {
    /* margin: 0;
} */
.container {
    width: 400px;
    height: 150px;
    background-color: rgb(159, 191, 194);
    position: absolute;
    /* margin: 0 auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    box-shadow: 0 0 2px 1px ;
}

.name {
    font-family:'Raleway', sans-serif ;
    text-align: center;
}

.input  {
    width: 167px;
    height: 20px;
    /* margin-left: 25px; */
    margin-bottom: 5px;
    font-family: 'Open sans', sans-serif;
}

.input-input { 
margin-left: 23px;
}

.input-output{
    /* margin: 0px 0px 0px 0px; */
    margin-right: 23px;
    
}

.select {
    width: 175px;
    margin-left: 23px;
    font-family: Arial, sans-serif;
    
}

.select-output {
    
    margin-left: 0px;
}